:root {
  --main-white-text-color: #fff;
  --main-orange-color: #f67e7e;
  --main-title-color: #79c8c7;
  --main-bold-fon-weight: 700;
  --main-small-font-size: 15px;
  --main-medium-font-size: 18px;
}